/* Webfont: Rigamesh-Regular */@font-face {
    font-family: 'Rigamesh';
    src: url('Rigamesh.woff2') format('woff2'), /* Modern Browsers */
         url('Rigamesh.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

